

#cuerpo{
    background-image:url('../images/imagenLanding.png') ;
    background-size: cover;
}

#piePagina{
    display:flex;
    position: fixed;
    margin-top: 2in;
    border-top: 2px;
    border-bottom: 2px;
    background-color: rgba(248, 248, 248, 0.548) ;
   
 width: 20in;   
}
.login{
    text-align: center;
    padding-top: 2in;

    
}

.form-label {
  


margin-bottom: 1px;
padding-top: 1px;
margin-top: 1px;
}

.login-submit{
    margin: top 3px;
}
 
.form-input{
padding-left: 1px;
position: center;
}


